
     body{
          background-image: url(http://www.neovisual.cz/files/V0779-d9.jpg);
         
             
         }
         .carousel img{
         margin: 0 auto;
         }
         table{
         background-color: white;
         }
          .callout-warning,.has-error,.has-success{
         color: #f0ad4e!important;
         }
        
        
        
        #bootstraptable{
        padding: 1%;
            border-color: orange;
        }
           .boottable .nav-tabs .histtab a{
             
            background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
            background-repeat: repeat-x;
            border-color: #e38d13;
               color:white;
                opacity: 0.5;
              
         }
        
         .table .tablecaption a{
         color: #f0ad4e;
             text-decoration: none;
         }
         
         .boottable .nav-tabs .histtab.active a{
               background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
             background-repeat: repeat-x;
            border-color:  #ffffff;
             color:black;
             opacity: 1;
             
         }
         
         
      .carousel-indicators>li.active{
         background-color: orange;
          
      }
         .carousel-indicators>li{
         border-color: orange;
         
      }
         .carousel-indicators{
         text-align: right;
         }
         .carousel-strip{
         background-color: grey;
               width: 100%;
             opacity: 0.5;
             left: 0;
             bottom: 0;
             text-align: left;
             
             
           
         }
         .tab-content{
         background-color: white;
         }
         
         
         
         .carousel-caption{
         height: 35%;
             padding-left: 5%;
             
         }
        
        
        
      .zillowtable tr td:nth-child(2), .zillowtable tr td:nth-child(4){
      text-align: right;
      }
        
        
      @media only screen and (max-width: 767px) {


    h4 {
      font-size: 3.6vw!important;
       margin: 0 auto;
      }
             p{
                 font-size: 2.8vw!important;
                 margin: 0 auto;
             }

    }
        
    